@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --pureDarkBlue: #192A3D;
  --pureBlue: #009FE3;
  --purePurple: #912191;
  --pureBlack: #000000;
  --pureWhite: #FFFFFF;
}

body {
  min-width: 500px;
  max-width: 95vw;
  min-height: 615px;
  overflow: hidden;
  font-family: 'Noto Sans';
  padding: 0;
  margin: auto;
}

#main-container {
  margin: 1vw;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr 1fr;
}

#main-logo {
  width: 90%;
  justify-self: center;
}

#playbutton {
  background-color: var(--purePurple);
  width: 25vw;
  height: 25vw;
  border-radius: 50%;

  color: var(--pureWhite);
  font-size: 12vw;
  line-height: 25vw;
  text-align: center;
  user-select: none;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-controls {
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
  width: 100%;
  height: 100%;
}

.socials {
  padding-top: 1vh;
  text-align: center;
  color: var(--pureBlack);
  font-size: 5vh;
  vertical-align: middle;
}

.socials a {
  text-decoration: none;
  font-weight: bold;
  color: var(--pureBlack);
}

/* Slider styling (eww) */
.slider {
  margin: 0 0.5em 0 0.5em;
  -webkit-appearance: none;
  appearance: none;
  width: 35%;
  height: 0.75em;
  background: var(--pureBlue);
  outline: none;
  border-radius: 0.5em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: var(--purePurple);
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  background: var(--purePurple);
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: var(--pureWhite);
  }

  .bottom-controls {
    border-top: 1px solid var(--pureWhite);
    border-bottom: 1px solid var(--pureWhite);
  }

  .socials {
    color: var(--pureBlue);
  }

  .socials a {
    color: var(--pureBlue);
  }
}

@media (min-aspect-ratio: 1/1) {
  body {
    max-width: 40vw;
  }

  #playbutton {
    width: 15vw;
    height: 15vw;

    font-size: 6vw;
    line-height: 15vw;
  }

  .socials {
    font-size: xx-large;
  }
  
  .slider {
    height: 1vh
  }
  
  .slider::--webkit-slider-thumb {
    width: 2vh;
    height: 2vh;
  }
  
  .slider::-moz-range-thumb {
    width: 2vh;
    height: 2vh;
  }
}